<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit {{ restaurant.name }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Hammersmith+One|Meera+Inimai|Nunito" rel="stylesheet">
</head>
<body>
  <header>
      <img class="header-logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="Restaurant menus logo">
  </header>
  <div class="site">
    <div class="header">
      <h1>Edit {{ restaurant.name }}</h1>
    </div>
    <form method="POST" action="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}">
      <label for="name">
        Name:<br>
        <input type="text" placeholder="name" name="name" value="{{ restaurant.name }}"><br>
      </label>
      <input type="submit" value="Save">
      <input type="button" value="Cancel" onclick="window.location={{ url_for('showRestaurants') }}">
    </form>


  </div>
  
</body>
</html>