<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurants</title>
</head>
<body>
  <div class="site">
    <div class="header">
      <h1>Restaurants</h1>
    </div>
    <a href="{{ url_for('newRestaurant') }}">+ New restaurant</a>
    
    {% with messages=get_flashed_messages() %}
      {% if messages %}
      <ul class="flash">
        {% for message in get_flashed_messages() %}
          <li class="flash-message">{{ message }}</li>
        {% endfor %}      
      </ul>
      {% endif %}
    {% endwith %}

    <ul class="restaurant_list">      
      {% for r in restaurants %}
      <li class="restaurant">
        <a href="{{ url_for('showMenu', restaurant_id=r.id) }}">{{ r.name }}</a>
        <div class="editdelete">
          <a href="{{ url_for('editRestaurant', restaurant_id=r.id) }}">Edit</a>
          <a href="{{ url_for('deleteRestaurant', restaurant_id=r.id) }}">Delete</a>
        </div>
      </li>
      {% endfor %}      

    </ul>


  </div>
  
</body>
</html>